
.text-center {
  text-align: center!important;
}
.footer {
  background-color: #dee7f1;
  border-top: #0BADA5;
  border-top-style: solid;
  border-top-width: 5px;
  padding-bottom: 0px;
  padding-top: 5px;
}

.dropdown-menu {
 background-color: #dee7f1;
 border-color: #0BADA5;
}

#navbarSupportedContent{
  background-color: #0BADA5;
  box-shadow: 0 5px #c5d5e7;
}

.nav-item a {
  color: rgb(100, 99, 99);
}

.navbar-brand {
  background-color: #0BADA5;
  margin-left: 10px;
  font-weight: bold;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-align: center!important;
  padding: inherit;
  border-radius: 2px;
  box-shadow: 0 5px #c5d5e7;
}

.active, .img-thumbnail:hover {
  border-color: #0BADA5;
  border-width: 2px;
}

.rounded {
  width: 50%!important;
  height: 50%!important;
  margin-right: 20px;
}

.title {
  color: #0BADA5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 95px;
  font-weight: bold;
  font-size: 30px;
  text-indent: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  color: rgb(90, 118, 142);
  padding: 0px 20px 15px;
  scroll-padding-left: 50px;
  font-size: 16px;
} 

#landing_title { 
  margin-top: 50px;
  padding-top: 20px;
  color: #0BADA5; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-indent: 20px;
  font-size: 30px;
}

#visual_title { 
  padding-top: 90px;
  padding-left: 10px;
  color: #0BADA5; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 23px;
}

.compare_title {
  font-size: 18px;
  color: #0BADA5; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.col-6 {
  max-width: 50%;
}

.col-3 {
  max-width: 100%;
  padding-bottom: 20px;
}

.box {
  background-color: white;
  
}

.box p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
  color: rgb(90, 118, 142);
  padding: 0px 20px 15px;
  font-size: 16px;
}

#visual_box p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  color: rgb(90, 118, 142);
  padding: 0px 20px 15px;
  font-size: 16px;
}

.box li {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 118, 142);
}
.box h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 118, 142);
  font-weight: bold;
  text-indent: 20px;
}

@media screen and (max-width: 600px) {
  .box {
    background-color: #f0f4fa;
  }
   .active, .img-thumbnail:hover {
    border-color: rgb(81, 11, 173);
    border-width: 2px;
  }
  .img-thumbnail:hover {
    border-color: rgb(147, 88, 255);
  }

  .navbar-brand {
    padding: 5px;
    background-color: #63d3d0;
    box-shadow: 0 5px #63d3d0;
   
  }
  #navbarSupportedContent{
    background-color: rgb(227, 236, 252);
  }

  .navbar-expand-lg {
    background-color: #63d3d0 !important;
  }

  .navbar-toggler {
    background-color: rgb(247, 247, 247);
    border-style: ridge;
  }

  
}





